<h1></h1>
<p></p>


<div class="jumbotron">
  <h1 class="display-4">Делитесь своими эмоциями</h1>
  <p class="lead">Заражайте других реальным позитивом</p>
  <p class="lead">Делайте мир вокруг себя немножечко ярче!</p>
  <hr class="my-4">
  <p class="lead">Размещайте свои фтографии и подписывайтесь на публикации ваших друзей.</p>
  
  <!-- Buttons-->
  <div class="text-center">

    <a class="btn btn-primary btn-lg" href="#" role="button">Зарегистрироваться</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Войти в аккаунт</a>  
  </div>
  
</div>