
<% if user_signed_in? %>

<% else %>

<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Делитесь своими эмоциями</h1>
  <p class="lead">Заражайте других реальным позитивом</p>
  <p class="lead">Делайте мир вокруг себя чуточку ярче!</p>
  <hr class="my-4">
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей.</p>
  
  <!-- Buttons-->
  <div class="text-center">

    <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-primary primary primary-bg" %>
    <%= link_to "Войти", new_user_session_path, class: "btn btn-success" %>  
  </div>
</div>

<% end %> 
